.todoListItem {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 10px;

  width: 100%;

  color: rgb(50, 48, 148);
  list-style: none;
}

.todoListItem label {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;

  align-items: center;
}
.todoListItem input {
  margin-right: 10px;
}

.todoListItemDone {
  text-decoration: line-through;
  color: rgb(174, 174, 179);
}

.delBtn {
  display: none;
  height: 20px;
  width: 20px;
}

.todoListItem label:hover .delBtn {
  display: block;
}

.date {
  display: grid;
  gap: 5px;

  font-size: 13px;
  color: rgb(36, 61, 25);
}
